.header-wrapper {
  padding: 0px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  font-family: 'Courier';
  background-color: #212121;
  color: white;
  
}

.student-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.student-name {
  font-size: 1.8em;
}

.student-intro {
  font-weight: 300;
}